
<body>
　  <h1>index</h1>
    <table>
        <tbody>
     <tr>
      <th>ジャンル検索</th>
     </tr>
     <tr>
         <th>ケーキ</th>
     </tr>
     <tr>
         <th>焼き菓子</th>
     </tr>
     </tbody>
    </table>
     
     <div class="row">
     <div class="col-xs-3 each_item">
     <h1 class="title">商品一覧</h1>
       <p><a href="商品のURL"><img src="商品の画像"></a></p>
	    <dl>
    	<dt><a href="商品のURL">商品名</a></dt>
        <dd>¥0,000</dd>
        </dl>
     </div>
     </div>

</body>     
